div {
margin: 10px;	
background: #DEB887;
border-radius:10px;
padding: 8px ;
list-style-type:none;
width:250px;
position: absolute;
top:30px ;
left: 400px;
}
span{
	color:#DEB887;	
}

body{

    background-image: url(9999.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	font-size:15px;
    display: inline-block;
    color: red;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
}
